.forme {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      width: 600px;
      height: 160vh;
      max-width: fit-content;
      margin-top: 150px;
      margin-bottom: 5px;
      padding-left: 30px;
      padding-right: 30px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50px 50px 50px;
      background-color: #e7d7bb;
      box-shadow: -3px 12px 40px 10px #934b08;
}

/* nav bar style */
.navG {
      background-color: #333;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1;
}

#logoG {
      display: flex;
      text-align: right;
      flex: 1;
}

.navG p {
      padding: 10px;
      font-size: x-large;
}

.navG ul {
      display: flex;
      list-style-type: none;
}

.navG ul li {
      margin-right: 50px;
}

.navG ul li a {
      color: white;
      text-decoration: none;
}

.logoG {
      width: 50px;
      height: 50px;
      margin-top: 25px;
}

/* icons style */
.iconsG img {
      width: 25px;
      background-color: #d5d5d5;
      border-radius: 30px;
      padding: 5px;
      box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.iconsG {
      margin-right: 70PX;
      text-align: right;
      flex: 1;
}

/* icon person style */
.personiconG {
      margin-right: 50px;
}

/* icon person and search style */
.personiconG:hover,
.searchiconG:hover {
      transform: scale(1.05);
      z-index: 1;
}

.lae {
      width: 250px;
      height: 80px;
      margin-right: 20px;
      position: relative;
      display: block;
      background: #ebebeb;
      border-radius: 150px;
      box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgb(255, 255, 255, 0.4);
      cursor: pointer;
      transition: 0.3s;
}

.lae::after {
      content: "";
      width: 70px;
      height: 70px;
      position: absolute;
      top: 5px;
      left: 5px;
      background: linear-gradient(180deg, #ffcc89, #cb6a09);
      border-radius: 180px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      transition: 0.3s;
}

.sane {
      width: 0;
      height: 0;
      visibility: hidden;
}

.sane:checked+.lae {
      background: black;
}

.sane:checked+.lae::after {
      left: 240px;
      transform: translateX(-100%);
      background: linear-gradient(180deg, white, #777);
      box-shadow: inset 15px -4px 0 0 white;
}

.lae:active::after {
      width: 150px;
}

:root {
      --primary-color: white;
      --secondary-color: black;
}

.dark-theme {
      --primary-color: black;
      --secondary-color: white;
}

a {
      text-decoration: none;
}

.bodye {
      background-color: var(--primary-color);
}

.xoxe {
      font-size: 20px;
}

.rome {
      background-color: #fff3df;
      border: solid #e7c09a;
      box-shadow: 0 0 20px 0 #ce6b0f;
      font-size: 20px;
      direction: ltr;
      padding: 14px;
      border: 0;
      border-radius: 10px;
      outline: 0;
}

.soe {
      background-color: #fff3df;
      border: solid #e7c09a;
      box-shadow: 0 0 20px 0 #ce6b0f;
      background-size: 30px;
      font-size: 20px;
      direction: ltr;
      padding: 14px;
      border: 0;
      border-radius: 10px;
      outline: 0;
}

.moe {
      background-color: #fff3df;
      border: solid #e7c09a;
      box-shadow: 0 0 20px 0 #ce6b0f;
      font-size: 20px;
      direction: ltr;
      padding: 14px;
      border: 0;
      border-radius: 10px;
      outline: 0;
}

.roe {
      background-color: #fff3df;
      border: solid #e7c09a;
      box-shadow: 0 0 20px 0 #ce6b0f;
      font-size: 20px;
      direction: ltr;
      padding: 14px;
      border: 0;
      border-radius: 10px;
      outline: 0;
}

.ree {
      background-color: #fff3df;
      border: solid #e7c09a;
      box-shadow: 0 0 20px 0 #ce6b0f;
      font-size: 20px;
      direction: ltr;
      padding: 14px;
      border: 0;
      border-radius: 10px;
      outline: 0;
}

.mue {
      background-color: rgb(146, 15, 15);
      color: white;
      transition: 500ms;
      font-size: 20px;
      direction: ltr;
      padding: 14px;
      border: 0;
      border-radius: 10px;
      outline: 0;
}

.mue:hover {
      margin-bottom: 15px;
      margin-top: 10px;
}

.mue {
      margin-left: 40%;
      margin-right: 100px;
      margin-bottom: 70px;
      margin-top: -50px;
      width: 20%;
}

.zimgee {
      width: 30px;
      height: 20px;
      border-radius: 5px;
      box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.fulle {
      color: #e2730b;
}

.emae {
      color: #e2730b;
}

.phoe {
      color: #e2730b;
}

.aree {
      color: #e2730b;
}

.foree {
      color: #e2730b;
}

.egye {
      color: #e2730b;
}

.howe {
      color: #e2730b;
}

.puree {
      color: #e2730b;
}

.goge a {
      color: #e2730b;
      font-size: 30px;
}

.prpee {
      width: 40px;
      height: 30px;
      padding-right: 5px;
}

.popupe {
      width: 350px;
      background: black;
      border-radius: 10px;
      position: absolute;
      top: 0;
      left: 4%;
      transform: translate(120%, -50%) scale(0.1);
      text-align: center;
      padding: 0 30px 30px;
      color: #fff;
      visibility: hidden;
      transition: transform 0.4s, top 0.4s;
}

.popupe.open-popupe {
      visibility: visible;
      top: 70%;
      transform: translate(120%, -50%) scale(1);
}

.popupe img {
      width: 100px;
      margin-top: -50px;
      border-radius: 50%;
      box-shadow: 0 2px 5px white;
}

.popupe h2 {
      font-size: 50px;
      font-weight: 600;
      margin: 30px 0 10px;
}

.popupe button {
      width: 100%;
      margin-top: 30px;
      padding: 10px 0;
      background: rgb(137 0 28);
      color: #fff;
      border: 0;
      outline: none;
      font-size: 20px;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 2px 5px white;
}

/* footer style */
.footerG {
      background-color: #333;
      color: white;
      display: flex;
      justify-content: center;
}

.footerG img {
      width: 100px;
      margin-left: 60px;
}

.logofooterG p {
      font-size: xx-large;
}

/* contact us style */
.contactusG {
      margin-left: 50px;
}

#contactG {
      font-size: 25px;
      color: goldenrod;
}

/* feedback style */
.feedbackG {
      color: white;
      text-decoration: none;
      font-size: 25px;
}
